In [1]:
!pip install pystan fbprophet

Requirement already satisfied: pystan in ./opt/anaconda3/lib/python3.8/site-packages (2.19.1.1)
Requirement already satisfied: fbprophet in ./opt/anaconda3/lib/python3.8/site-packages (0.7.1)
Requirement already satisfied: setuptools-git>=1.2 in ./opt/anaconda3/lib/python3.8/site-packages (from fbprophet) (1.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in ./opt/anaconda3/lib/python3.8/site-packages (from fbprophet) (0.0.9)
Requirement already satisfied: tqdm>=4.36.1 in ./opt/anaconda3/lib/python3.8/site-packages (from fbprophet) (4.59.0)
Requirement already satisfied: matplotlib>=2.0.0 in ./opt/anaconda3/lib/python3.8/site-packages (from fbprophet) (3.3.4)
Requirement already satisfied: Cython>=0.22 in ./opt/anaconda3/lib/python3.8/site-packages (from fbprophet) (0.29.23)
Requirement already satisfied: holidays>=0.10.2 in ./opt/anaconda3/lib/python3.8/site-packages (from fbprophet) (0.11.1)
Requirement already satisfied: numpy>=1.15.4 in ./opt/anaconda3/lib/python3.8/site-packages (from fbprophet) (1.20.1)
Requirement already satisfied: cmdstanpy==0.9.5 in ./opt/anaconda3/lib/python3.8/site-packages (from fbprophet) (0.9.5)
Requirement already satisfied: python-dateutil>=2.8.0 in ./opt/anaconda3/lib/python3.8/site-packages (from fbprophet) (2.8.1)
Requirement already satisfied: convertdate>=2.1.2 in ./opt/anaconda3/lib/python3.8/site-packages (from fbprophet) (2.3.2)
Requirement already satisfied: pandas>=1.0.4 in ./opt/anaconda3/lib/python3.8/site-packages (from fbprophet) (1.2.4)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in ./opt/anaconda3/lib/python3.8/site-packages (from convertdate>=2.1.2->fbprophet) (0.5.11)
Requirement already satisfied: pytz>=2014.10 in ./opt/anaconda3/lib/python3.8/site-packages (from convertdate>=2.1.2->fbprophet) (2021.1)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.8/site-packages (from holidays>=0.10.2->fbprophet) (1.15.0)
Requirement already satisfied: hijri-converter in ./opt/anaconda3/lib/python3.8/site-packages (from holidays>=0.10.2->fbprophet) (2.1.2)
Requirement already satisfied: korean-lunar-calendar in ./opt/anaconda3/lib/python3.8/site-packages (from holidays>=0.10.2->fbprophet) (0.2.1)
Requirement already satisfied: ephem>=3.7.5.3 in ./opt/anaconda3/lib/python3.8/site-packages (from LunarCalendar>=0.0.9->fbprophet) (4.0.0.2)
Requirement already satisfied: cycler>=0.10 in ./opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.0.0->fbprophet) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.0.0->fbprophet) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in ./opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.0.0->fbprophet) (8.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in ./opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.0.0->fbprophet) (2.4.7)

In [2]:
import pandas as pd
from fbprophet import Prophet

Importing plotly failed. Interactive plots will not work.

In [60]:
df = pd.read_csv(r'/Users/Roger/Downloads/BTC_model_simple.csv')

In [61]:
df.describe()

               Time  BTC volume (USD) (CB)  BTC Price CB         Time2
count  3.360000e+02           3.360000e+02    336.000000  3.360000e+02
mean   1.569779e+07           3.006609e+13   8050.048958  2.015063e+07
std    8.801955e+06           9.428750e+13  11890.096403  3.194571e+02
min    1.022015e+06           3.391709e+05    188.490000  2.015010e+07
25%    8.059515e+06           1.450869e+10    616.405000  2.015033e+07
50%    1.601702e+07           1.945000e+12   5378.615000  2.015062e+07
75%    2.308452e+07           7.785000e+12   9277.012500  2.015091e+07
max    3.110202e+07           5.870000e+14  61104.650000  2.015121e+07

In [62]:
df.head()

        Time  BTC volume (USD) (CB)  BTC Price CB       Time2
0  5012015.0           3.391709e+05        295.32  20150105.0
1  6012015.0           6.783418e+05        188.49  20150106.0
2  7012015.0           2.886583e+07        237.24  20150107.0
3  8012015.0           2.261473e+09        244.15  20150108.0
4  9012015.0           2.384785e+09        226.67  20150109.0

In [66]:
df.dtypes

Time                     float64
BTC volume (USD) (CB)    float64
BTC Price CB             float64
Time2                    float64
Year                      object
Month                     object
Day                       object
dtype: object

In [69]:
df['Year'] = df['Time'].apply(lambda x: str(x)[-4:])
df['Month'] = df['Time'].apply(lambda x: str(x)[-6:-4])
df['Day'] = df['Time'].apply(lambda x: str(x)[:-6])
#df['ds'] = pd.DatetimeIndex(df['Year']+'-'+df['Month']+'-'+df['Day'])

In [70]:
df.head(100)

,Time,BTC volume (USD) (CB),BTC Price CB,Time2,Year,Month,Day
0,5012015.0,3.391709e+05,295.32,20150105.0,15.0,20,501
1,6012015.0,6.783418e+05,188.49,20150106.0,15.0,20,601
2,7012015.0,2.886583e+07,237.24,20150107.0,15.0,20,701
3,8012015.0,2.261473e+09,244.15,20150108.0,15.0,20,801
4,9012015.0,2.384785e+09,226.67,20150109.0,15.0,20,901
...,...,...,...,...,...,...,...
95,10042015.0,1.933289e+10,713.15,20150410.0,15.0,20,1004
96,11042015.0,1.819167e+10,711.77,20150411.0,15.0,20,1104
97,12042015.0,1.691182e+10,730.24,20150412.0,15.0,20,1204
98,13042015.0,1.244232e+10,736.72,20150413.0,15.0,20,1304
99,14042015.0,1.564518e+10,749.98,20150414.0,15.0,20,1404

In [51]:
df.Year.unique()

array(['2015', 'nan'], dtype=object)